@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .main-font {
    font-family: "Playfair display" !important;
  }
  .body-font {
    font-family: "Sarabun" !important;
  }
}

:root {
  --colo: #f5f7fb;
}
input::placeholder {
  color: #636363 !important;
}
body {
  overflow-x: hidden !important;
}

.custom-bullets {
  list-style-type: none; 
  padding: 0; 
}

.custom-bullets li {
  position: relative; 
  padding-left: 20px; 
}

.custom-bullets li::before {
  content: "🏪"; 
  position: absolute; 
  left: 0; 
  color: #5a7ffa; 
}
